@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alegreya Sans", sans-serif;
}

body {
  background: #343541;
}

/* Define a container to hold the side menu and chat container */
.container {
  display: flex; /* Use flexbox layout */
}

.title-container {
  
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #343541;
  z-index: 9999;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}


#side_menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  padding: 20px;
  height: calc(100vh - 0px);
  background-color: rgb(46, 44, 44);
  z-index: 1;
  transition: all 0.3s ease-in-out;
}


/* Media query for devices with screen width less than 768px (e.g., mobile devices) */
@media screen and (max-width: 1000px) {
  #side_menu {
    display: none; /* Hide #side_menu for mobile devices */
  }
}

#new_chat_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #3f51b5;
  cursor: pointer;
}

#new_chat_button:hover {
  background-color: #2c3e50;
}


#app {
  width: 100vw;
  height: 75vh;
  background: #1e1e24;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-between;
  
}


#chat_container {
  flex: 1;
  width: 60%;
  height: 90%;
  overflow-y: scroll;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap:10px;

  -ms-overflow-style: none;
  scrollbar-width: none;

  padding-bottom: 40px;
  scroll-behavior: smooth;
}


/* hides scrollbar */
#chat_container::-webkit-scrollbar {
  display: y;
}

.wrapper {
  width:100%;
  padding: 10px;

}

.ai {
  background: #40414F;
}



.chat {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}




.profile {
  width: 36px;
  height: 36px;
  border-radius: 5px;

  background: #5436DA;

  display: flex;
  justify-content: center;
  align-items: center;
}

.ai .profile {
  background: #10a37f;
}

.profile img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.message {
  color: #dcdcdc;
  font-size: 16px;

  max-width: 100%;
  overflow-x: scroll;

  /*
   * white space refers to any spaces, tabs, or newline characters that are used to format the CSS code
   * specifies how white space within an element should be handled. It is similar to the "pre" value, which tells the browser to treat all white space as significant and to preserve it exactly as it appears in the source code.
   * The pre-wrap value allows the browser to wrap long lines of text onto multiple lines if necessary.
   * The default value for the white-space property in CSS is "normal". This tells the browser to collapse multiple white space characters into a single space, and to wrap text onto multiple lines as needed to fit within its container.
  */
  white-space: pre-wrap; 

  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* hides scrollbar */
.message::-webkit-scrollbar {
  display: none;
}

.form-container {
  position: fixed;
  bottom: 0;
  left:center;
  width: 62%;
  background-color: transparent;
  padding: 19px;
  box-sizing:content-box;
  z-index: 9999;
}

@media (min-width: 768px) {
  .form-container {
    max-width: 768px;
  }
}

@media (min-width: 992px) {
  .form-container {
    max-width: 992px;
  }
}

@media (min-width: 1200px) {
  .form-container {
    max-width: 1200px;
  }
}

form {
  width: 100%;
  max-width: 1280px;
  margin: 0;
  padding: 5px;
  background: transparent;

  display: flex;
  flex-direction: row;
  gap: 5px;
}

.form-footer {
  margin-top: 0rem;
  padding-top: 0rem;
  border-top: 1px solid #ccc;
  text-align: center;
  font-size: 0.8rem;
  color: #777;
}

.form-footer p {
  margin: 0;
}

textarea {
  flex: 1;
  margin-right: 5epspx;
  resize: none;
  border: none;
  outline: none;
  font-size: 16px;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

form img {
  width: 20px;
  height: 20px;
}